@(classes: List[Classroom], studentForm: Form[Student], teacherForm: Form[Teacher], students: List[Student], teachers: List[Teacher])


@main("Testr") {
<img src="@routes.Assets.at("images/testrlogo.png")"/>

	    @if(flash.containsKey("wrongLogin")) {
        <div class="alert-message warning">
            @flash.get("wrongLogin")
        </div>
        }
        
        	    @if(flash.containsKey("accountCreated")) {
        <div class="alert-message warning">
            @flash.get("accountCreated")
        </div>
        }
        
        

  	<h1> Login </h1>
  	
  			<form action="@routes.Application.login()" method="post">
  			username <input name="name"> 
  			password <input name="password" input type="password">
 			<input type="submit">	
  	</form>
  	
 
 
 
 <h1> Create Accounts </h1>
 
  <h3> Teacher </h3>
 	<form action="@routes.Application.createTeacher()" method="post">
  			username: <input name="name"> 
  			<br>
  			password: <input name="password" input type="password">
             	<input type="submit">
					</form>	 		

 <h3> Student </h3>
 	<form action="@routes.Application.createStudent()" method="post">
  			username: <input name="name"> 
  			<br>
  			password: <input name="password" input type="password">
             	<input type="submit">
					</form>	 						
    } 