@(inCroom : List[Classroom], outCroom : List[Classroom], readyTests : List[Test], student : Student)
@import helper._
@main("Testr: test redefined") {
<img src="@routes.Assets.at("images/testrbanner.png")" height = "200" />
 <a href="@routes.Application.loginScreen()" class="btn">Logout</a> 	    
	<h1> Hello, @student.name</h1>
	
	 @if(!readyTests.isEmpty){
			<h2> These tests are ready for you to take</h2>
	 		 <table border> 
	 		 	       <thead>	  	       
     		           <tr>
     		             <td> Classroom </td>
     		             <td> test name  </td>
     		               <td> test description</td>
     		              <td> Number of Questions</td>  
    		               <td> Take this test! 	</td>
    		            </tr>
   		         </thead>
		
			   @for(test <- readyTests) {  
         		    <td>   @Classroom.getClassNamebyId(test.classId) </td> 
         		   <td>   @test.name </td>
         		   <td>   @test.testDesc </td>
         		   <td>   @test.numQuestions </td>
          		   <td>   	<form method="get" action="@routes.Application.beginTest(student.id, test.id)">
        					<input type="submit">
   							</form>  </td>
            		<tr>
       		 }
	   		 </table>
	  }

	 @if(!outCroom.isEmpty){
			<h2> Join a new classroom </h2>
	
			  	<table border> 
	  			       <thead>	  	       
    		            <tr>
            		      <td> Classroom </td>
                 		 <td> Join  </td>
      		          </tr>
    		        </thead>

			@for(classroom <- outCroom){
			             <td>  @classroom.cname </td> 
     		            <td> <form action="@routes.Application.joinClassroom(student.id, classroom.cid)" method="post">
 							<input type="submit"> 	 </td>
						<tr>
			}	
	 		 </table> 
	  }

 		
	

	
}