@(tests: List[Test], classrooms : List[Classroom], id: Long)
@import helper._
@main("Testr: test redefined") {
	<script src='@routes.Assets.at("javascripts/index.js")'></script>
<img src="@routes.Assets.at("images/testrbanner.png")" height = "200" />
	<h1> Hello, @Student.findStudentbyId(id).name</h1>
	
	<h2> These tests are ready for you to take</h2>
	  	<table border> 
	  	       <thead>	  	       
                <tr>
                  <b> 
                  <td> test ID </td>
                  <td> test name  </td>
                    <td> test description</td>
                   <td> Number of Questions</td>  
                   <td> Take this test! 	</td>
                   </b>
                </tr>
            </thead>
            
	   @for(test <- tests) {
	  
             <td>   @test.id </td> 
            <td>   @test.name </td>
            <td>   @test.testDesc </td>
            <td>   @test.numQuestions </td>
            <td>   	<form method="get" action="@routes.Application.beginTest(id, test.id)">
        			   <input type="submit">
   						</form>  </td>
            <tr>
        }
	    </table>

	<h2> Join a new classroom </h2>
	@for(classroom <- classrooms){
	@classroom.cname
	@classroom.id
	 	 	<form action="@routes.Application.joinClassroom(id, classroom.id)" method="post">
 					<input type="submit">	
	}	

 		</form>
	

	
}