@(current: Int, testAnswer: TestAnswer)
@import helper._

@main(testAnswer.test.name) {
	<script src='@routes.Assets.at("javascripts/takeTest.js")'></script>
	<img src="@routes.Assets.at("images/testrbanner.png")" height = "200" />
	<h1> Test Name: @testAnswer.test.name  </h1>
	
	    @if(flash.containsKey("correct")) {
        <div class="alert-message warning">
            <strong>Correct Answer</strong> @flash.get("correct")
        </div>
        }
        
      @if(flash.containsKey("wrong")) {
        <div class="alert-message warning">
            <strong>Wrong Answer</strong> @flash.get("wrong")
        </div>
    } 
	
	<h2>Q.@(current + 1) / @testAnswer.test.numQuestions : @testAnswer.getQuestion(current).questionText </h2>
	   @for(i <- 1 to 4) {
	<form  action="@routes.Application.markQuestion(current,i,testAnswer.id)"  method="post">
		<p> @(i)  <input type="submit" value="@Question.getAnswer(testAnswer.getQuestion(current), i)"/> </p>
	</form>
	}

}