@(tests: List[TestReview], testForm: Form[Test], teacher: Teacher)
@import helper._

@main("Testr: test redefined") {
	<script src='@routes.Assets.at("javascripts/index.js")'></script>
<img src="@routes.Assets.at("images/testrbanner.png")" height = "200" />	

	    @if(flash.containsKey("published")) {
        <div class="alert-message warning">
            <strong>Test Created </strong> @flash.get("published")
        </div>
        }
        
        	    @if(flash.containsKey("notcreated")) {
        <div class="alert-message warning">
            <strong>Test Deleted</strong> @flash.get("nocreated")
        </div>
        }

	<h1> Teacher </h1>
		
		 <h2> Create </h2>
		 <h3> Create Test </h3>
		 	<select id="newTestClass"> 
		 	@for(aClass <- teacher.classrooms){
		 	<option id=@aClass.cid> @aClass.cname </option>
		 	}
		 	</select>
		  	<form action="@routes.Application.createTest(1)" method="post">
	        <fieldset>
            @inputText(testForm("name"), '_label -> "Test Name")
             @inputText(testForm("testDesc"), '_label -> "Test Description")
             	<input type="submit">
        </fieldset>
					</form>	 
					
					
		<h3> Create new classroom </h3>
		 <h3>	Classroom </h3>
 	 	<form action="@routes.Application.createClassroom(teacher.id)" method="post">
					Name: <input name="cname"> 
 					<input type="submit">	
 		</form>
 				
		 	
	<h2> Review </h2>

		  	<table border> 
	  	    <thead>
                <tr>
                  <td> test name  </td>
				  <td> test description</td>
                  <td> Classroom </td>
                   <td> Number of Questions</td>         
                   <td> Review Test 	</td>
                </tr>             
            </thead>
            
	   @for(testReview <- tests) {
            <td>   @testReview.test.name </td>
            <td>   @testReview.test.testDesc </td>
			<td> 	@TestReview.getClassroomName(testReview)</td>
            <td>   @testReview.test.numQuestions </td>
            <td>   	<form method="get" action="@routes.Application.reviewTest(testReview.test.id,teacher.id)">
        			   <input type="submit">
   						</form>  </td>
            <tr>
        }
	    </table>

}