@(test: Test, classroom: Classroom)
@import helper._

 @main(test.name) {
  <img src="@routes.Assets.at("images/testrbanner.png")" height = "200" />
    <h1>Test name: @test.name  for classroom @classroom.cname</h1>	
    <h3>Test Description: @test.testDesc</h3>
    
    <h4>Number of Questions in this test: @test.numQuestions</h4>
    
	<form action="@routes.Application.addQuestion(classroom.cid)" method="post">
		<h4> Question name:  <input name="questionText"> </h4> 
		<p> Answer 1:  <input name="answer1"> </p>
		<p> Answer 2:  <input name="answer2"> </p>
		<p> Answer 3:  <input name="answer3"> </p>
		<p> Answer 4:  <input name="answer4"> </p>
		<select name="correctAnswer">
 				 <option value="1">1</option>
  				<option value="2">2</option>
  					<option value="3">3</option>
  					<option value="4">4</option>
						</select>
		<input type="submit">	
	</form>
		@if(test.numQuestions >= 1){
            <a href="@routes.Application.publishTest(test.id, classroom.cid)" class="btn">Publish Test Test</a>
            <br>
    	 } 
    	  <a href="@routes.Application.scrapTest(test.id, classroom.cid)" class="btn">Scrap Test</a>
    }
    
 