@(test: Test)
@import helper._

    
  @main(test.name) {
    <h1>Test name: @test.name</h1>	
    <h3>Test Description: @test.testDesc</h3>
    
    <h4>Number of Questions in this test: @test.numQuestions</h4>
    
	<form action="@routes.Application.addQuestion(test.id)" method="post">
		<h4> Question name:  <input name="questionText"> </h4> 
		 @for(i <- 0 to 3) {
		<p> Answer @(i + 1):  <input name="@"> </p>
		}
		<input type="submit">	
	</form>
        
 
            <a href="@routes.Application.index()" class="btn">Cancel</a> 
        }
    
 