@(message: String)

@main(message) {
	<script src='@routes.Assets.at("javascripts/index.js")'></script>


	<h2> Tests currently avilable </h2>
	<table border> 
			<th id = "tid"> test id  </th>
			<th id = "tname"> test name  </th>	
			<th id = "tdesc"> test desc </th>
			<th id = "tnum"> Number of Questions </th>
	 </table>
	 
	 <h3> Create a test! </h3>
	<form action="@routes.Application.createTest()" method="post">
		
		<p> Test Name: <input name="name"> <br>
		 	Test Description: <input name="testDesc"> </p>
		<input type="submit">	
	</form>
	
	<br>
	

	<h3> Take a test! </h3>
	<form method="get" action="@routes.Application.takeTest(1)">
	<select id=tselect name="" value=""/>
           <input type="submit">
       </select> 
   </form>
	
}