@(tests: List[Test])

@main("Testr: test redefined") {
	<script src='@routes.Assets.at("javascripts/index.js")'></script>
	<h1> Testr </h1>

	<h2> Tests currently avilable </h2>

	 
	  	<table border> 
	  	       <thead>
	  	       
                <tr>
                  <b> 
                  <td> test ID </td>
                  <td> test name  </td>
                    <td> test description</td>
                   <td> Number of Questions</td>  
                   <td> Take this test! 	</td>
                   </b>
                </tr>
               
            </thead>
	   @for(test <- tests) {
	  
             <td>   @test.id </td> 
            <td>   @test.name </td>
            <td>   @test.testDesc </td>
            <td>   @test.numQuestions </td>
            <td>   	<form method="get" action="@routes.Application.takeTest(0,test.id)">
        			   <input type="submit">
   						</form>  </td>
            <tr>
        }
	    </table>
	 <h3> Create a test! </h3>
	<form action="@routes.Application.createTest()" method="post">
		
		<p> Test Name: 		<input name="name"> <br>
		 	Test Description: <input name="testDesc"> </p>
		<input type="submit">	
	</form>
	
	<br>
	
	
}