@(currentPage: com.avaje.ebean.Page[Test], currentSortBy: String, currentOrder: String, currentFilter: String)


@main hey{
    
    <h1 id="homeTitle">("Tests below", currentPage.getTotalRowCount)</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 

    <div id="actions">
             
        <a class="btn success" id="add" href="@routes.Application.createTest()">Add a new test</a>
        
    </div>
    
    @if(true) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="tests zebra-striped">
            <thead>
                <tr>
                 "test name"
                </tr>
            </thead>
            <tbody>

                @for(test <- currentPage.getList) {
                    <tr>
                        <td><a href="@routes.Application.takeTest(test.id)">@test.testName</a></td>                    
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">

        </div>
        
    }
        
}

            