@(testReview:TestReview)
	<script src='@routes.Assets.at("javascripts/index.js")'></script>
	
@main(testReview.test.name) {
		
		            <a href="@routes.Application.teacherHome(1)" class="btn">Home Screen</a> 
		            
		            <h1> @TestReview.getClassroomName(testReview) </h1>
		            <h1> @testReview.test.name </h1> 
		            <h2> @testReview.test.testDesc </h2>
		            
		    <table border> 
	  	    <thead>
                <tr>
                  <td> Student Name </td>
				  <td> Score    </td>
                  <td> Questions </td>
                   <td> percentage </td>         
                   <td> See students answer	</td>
                </tr>             
            </thead>
           
           
           		  @for(studentAnswer <- testReview.studentAnswers){
		        <td>    @studentAnswer.student.name </td>
		        <td> 	@studentAnswer.score </td>
		        <td> 	@studentAnswer.test.numQuestions </td>
		        <td> 	@studentAnswer.percentage </td>
		        <td> TODO	</td>
		         <tr>
		            }
		           
		            
		            </table>
		            

	
	
}