@(current: Int, testAnswer: TestAnswer)
@import helper._

@main(testAnswer.test.name) {
	<script src='@routes.Assets.at("javascripts/takeTest.js")'></script>
	<h1> Test Name: @testAnswer.test.name  </h1>
	
	    @if(flash.containsKey("correct")) {
        <div class="alert-message warning">
            <strong>Correct Answer</strong> @flash.get("correct")
        </div>
        }
        
      @if(flash.containsKey("wrong")) {
        <div class="alert-message warning">
            <strong>Wrong Answer</strong> @flash.get("wrong")
        </div>
    } 
	
	<h2>Q.@(testAnswer.current + 1) / @testAnswer.test.numQuestions : @testAnswer.getQuestion.questionText </h2>
	   @for(i <- 0 to 3) {
	<form  action="@routes.Application.markQuestion(i,testAnswer.id)"  method="post">
		<p> @(i+1)  <input type="submit" value="@Question.getAnswer(testAnswer.getQuestion, i)"/> </p>
	</form>
	}

}